@using WebApplication6.Models
@model LoginViewModel

@{
    ViewBag.Title = "Üye Girişi";
}
<title>TooChat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Css/login.css" rel="stylesheet" />
<link href="~/Css/util.css" rel="stylesheet" />
<link href="~/Css/Bootsrapt/bootstrap.min.css" rel="stylesheet" />
<link href="~/Css/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
<link href="~/Css/vendor/animate/animate.css" rel="stylesheet" />
<link href="~/Css/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
<link href="~/Css/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/Css/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~//Css/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/images/icon/favicon.ico" rel="stylesheet" />

<body style="  background-color: white;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">

                    @using (Html.BeginForm("Login", "Account", new {  ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { autocomplete = "off", role = "form" }))
                    {
                        <span class="login100-form-title p-b-43">
                            TooChat <i class="fa fa-comment "></i>
                        </span>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Kullanıcı Adı</span>
                            @Html.TextBoxFor(m => m.Username, new { @class = "input100" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "input100 text-danger" })
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Şifre</span>
                            @Html.PasswordFor(m => m.Password, new { @class = "input100" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "input100 text-danger" })
                        </div>
                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="contact100-form-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                                <label class="label-checkbox100" for="ckb1">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <input type="submit" value="Oturum Aç" class="login100-form-btn" />
                        </div>
                    }
                    <div class="text-center p-t-46 p-b-20">
                        @Html.ActionLink("Üye değilseniz üye olun ", "Register", "Account", new { @class = "fa fa-user" })
                    </div>
                </div>
                <div class="login100-more"></div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body> 